.divPrinc{
    background-color: #F5F5F5;
    height: 1080px;
    width: 1920px;
    margin: auto;
    font-family: Mulish;
    background-image: url("../assets/img/Group 5 1.svg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.bolaLogo{
    position: absolute;
    margin-top: 448px;
    margin-left: 1225px;
}
.headerTop{
    background-color: #fff;
    height: 130px;
    display: flex;
    justify-content: space-between;
}
.divTit{
    background-color: black;
    color: #fff;
    line-height: 20px;
    height: 64px;
    width: 587px;
    margin-top: 32px;
    padding-left: 24px;
    border-top-right-radius:14px;
    border-bottom-right-radius: 14px;
}
.divTit h1{
    font-family: Mulish;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3px;
}
.divTit p{
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    margin-top:3px;
}
.divHour{
    margin-top: 32px;
    font-family: Mulish;
    letter-spacing: 0em;
}
#hor{
    font-size: 40px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding-left: 30px;
}

#dayear{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
#cityCountry{
    margin-top: 20px;
    margin-bottom: 0;
}
#cel{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
}
.divCloud{
    display: flex;
}

.part-baixo{
    justify-content: space-between;
    display: flex;
}
.part-baixo img{
    height: 18px;
    width: 30px;
    margin-top: 25px;
}
.divLogout{
    display: flex;
    flex-direction: column;
}
.img-logo{
    height: 50px;
    width: 176px;
    margin-top: 20px;
    cursor: pointer;
}
.img-seta{
    height: 20px;
    width: 20px;
    margin-left: 80px;
    cursor: pointer;
}
.divLogout p{
    font-family: Mulish;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.link-login{
    text-decoration: none;
}
.link-login:visited{
    color: black;
}
.link-login:hover{
    background-color:aliceblue;
}
.container-form{
    max-width: 100%;
}
.flex-form{
    margin: 20px;
    display:flex;
}
.class-btns{
    margin-left: 680px;
}
.input-tesk{
    height: 45px;
    width: 391px;
    border-radius: 10px;
    margin-left: 3px;
    border: 2px solid #FECE00;
}
.input-sel{
    height: 50px;
    width: 240px;
    border-radius: 10px;
    margin-left: 3px;
    border: 2px solid #FECE00;
    border-width: 2px;
    border-style: solid;
    border-color: #FECE00;
}
.input-hora{
    height: 45px;
    width: 120px;
    border-radius: 10px;
    margin-left: 3px;
    border: 2px solid #FECE00;    
}
.input-sel,.input-tesk,
.input-hora:focus {
    outline: none;/* Estilo da borda quando o input está ativo */
}
.input-sel:not(:focus){
    color: gray;
}
.btn-add{
    height: 44px;
    width: 200px;
    border-radius: 10px;
    padding: 10px 12px 10px 12px;
    background-color: #00BA88;
    color:#fff;
    border: none;
}
.btn-del{
    height: 44px;
    width: 200px;
    border-radius: 10px;
    padding: 10px 12px 10px 12px;
    background-color: #FF3D1F;
    color:#fff;
    border: none;  
    margin-left: 24px;  
}
.btn-add,.btn-del{
    cursor: pointer;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
}
.days-week{
    padding-left:125px;
}
.days-week button{
    margin-right: 3px;
    height: 33px;
    width: 240px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    cursor: pointer;
    border:none;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    transition: 1s;
}
.caixa{
    height: 75px;
    width: 85px;
    border-radius: 10px;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    line-height: 75px;
    margin-left: 24px;
    background-color: #fff;
}
.caixa-2{
    height: 63px;
    width: 512px;
    border-radius: 15px;
    padding-left: 28px;
    padding-top: 12px;
    margin-left: 18px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 1);
}
.classDash li{
    display: flex;
}
.classDash {
    padding-left: 0;
    max-height: 700px;
    max-width: 1900px;
    overflow: auto;
}
/* Estilize a barra de rolagem horizontal */
.classDash::-webkit-scrollbar {
    height: 10px; /* Altura da barra de rolagem */
  }
  
  /* Estilize o polegar (o controle deslizante da barra de rolagem) */
  .classDash::-webkit-scrollbar-thumb {
    background-color: rgba(220, 223, 227, 1); /* Cor do polegar */
    border-radius: 5px; /* Borda arredondada */
  }
  
  /* Estilize a área de trás do polegar */
  .classDash::-webkit-scrollbar-track {
    background-color: #fff; /* Cor da área de trás do polegar */
  }
  
/* Estilize a barra de rolagem vertical */
.classDash::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Estilize o polegar (o controle deslizante da barra de rolagem) */
  .classDash::-webkit-scrollbar-thumb {
    background-color: rgba(220, 223, 227, 1); /* Cor do polegar */
    border-radius: 5px; /* Borda arredondada */
  }
  
  /* Estilize a área de trás do polegar */
  .classDash::-webkit-scrollbar-track {
    background-color: #fff; /* Cor da área de trás do polegar */
  }

  /* class apara o botão de Delete individual que não foi implementado*/
  .span-p{
    color: #F5F5F5;
    background-color: #FF3D1F;
    height: 25px;
    width: 57px;
    border-radius: 4px;
    margin-top: 0px;
    margin-right: 10px;
    padding: 5px;
    padding-right: 8px;
    padding-bottom: 0;
    cursor: pointer;
    float: right;
    font-weight: bold;
  }
  .horizontal-list {
    display: flex;
    flex-direction: row
  }

  .loadD{
    font-size: 40px;
    font-weight: bold;
    color:  rgb(128, 128, 128);
    margin-top:100px;
    margin-left: 300px;
  }
  .linha{
    width: 1700px;
    height: 3px;
    margin-top: 53px;
    margin-left: -550px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .pai{
    position: relative;
  }
